{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <div class="my-4">
        <h2>Catalog:</h2>
        {% if catalog %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in catalog %}
                <tr>
                    <th scope="row">
                        <a href="{% url 'inventory:catalog-entry' entry.id %}">
                            {{ entry.id }}
                        </a>
                    </th>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No catalog entries to display.</p>
        {% endif %}
        <a class="btn btn-success" href="{% url 'inventory:add-catalog-entry' %}" role="button">Add Catalog Entry</a>
    </div>

    <div class="my-4">
        <h2>Inventory Items:</h2>
        {% if inventory %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Warehouse</th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventory %}
                <tr>
                    <th scope="row">
                        <a href="{% url 'inventory:item' item.id %}">
                            {{ item.id }}
                        </a>
                    </th>
                    <td>{{ item.entry }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.warehouse }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No inventory items to display.</p>
        {% endif %}
        <a class="btn btn-success" href="{% url 'inventory:add-item' %}" role="button">Add Inventory Item</a>
    </div>

    <div class="my-4">
        <h2>Warehouses:</h2>
        {% if warehouses %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Country</th>
                </tr>
            </thead>
            <tbody>
                {% for warehouse in warehouses %}
                <tr>
                    <th scope="row">
                        <a href="{% url 'inventory:warehouse' warehouse.id %}">
                            {{ warehouse.id }}
                        </a>
                    </th>
                    <td>{{ warehouse.address }}</td>
                    <td>{{ warehouse.city.name }}</td>
                    <td>{{ warehouse.city.country.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No warehouses to display.</p>
        {% endif %}
        <a class="btn btn-success" href="{% url 'inventory:add-warehouse' %}" role="button">Add Warehouse</a>
    </div>
</div>

{% endblock content %}