{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <div class="my-4">
        <h2>Catalog:</h2>
        {% if catalog %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in catalog %}
                <tr>
                    <th scope="row">{{ entry.id }}</th>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.description }}</td>
                    <td>
                        <a class="btn btn-secondary" href="{% url 'inventory:catalog-entry' entry.id %}" role="button">
                            Go to details
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No catalog entries to display.</p>
        {% endif %}
        <a class="btn btn-success" href="{% url 'inventory:add-catalog-entry' %}" role="button">Add Catalog Entry</a>
    </div>

    <div class="my-4">
        <h2>Inventory Items:</h2>
        {% if inventory %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">Date</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventory %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.entry.name }} (#{{ item.entry.id}})</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <a class="btn btn-secondary" href="{% url 'inventory:item' item.id %}" role="button">
                            Go to details
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No inventory items to display.</p>
        {% endif %}
        <a class="btn btn-success" href="{% url 'inventory:add-item' %}" role="button">Add Inventory Item</a>
    </div>
</div>

{% endblock content %}